footer {
    margin-top: 80px;
  background-color: #0f0f0f;
  padding-top: 80px;
  padding-bottom: 20px;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 90px;
}

.footerTop ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footerTop .menuHeaderText {
  font-family: Manrope;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  padding-bottom: 10px;
}

.footerTop ul li {
  font-family: Manrope;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #a6a6a6;
  cursor: pointer;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #262626;
  padding: 20px 0px;
}

.footerBottomLeft p {
  font-family: Manrope;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #808080;
}

.footerBottomRight ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.footerBottomRight ul li {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #999999;
  cursor: pointer;
}
